.THIS textarea{
    height:33px !important;
}

.THIS .inputrate{
    width:40px !important;
}

.THIS thead {
    background-color: #f3f3f3;
}
.THIS .slds-has-button-menu .slds-th__action-button {
    visibility:hidden;
}
.THIS button.slds-button.slds-button_brand{
    float:right;
    margin: 5px;
}
.THIS button.slds-button_neutral {
    float:right;
    margin: 5px;
}
.THIS .button-div {
    background-color:#dadada;
}
.THIS .panel.slds-modal.assessment-modal.slds-fade-in-open{
    width: 50%;
    margin-left: 25%;
}